body{
    padding: 5rem 15rem;
    background-color: rgb(232, 232, 232);
}
.main{
    padding: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.337);
    border-radius: 10px;
}
/* part1 ============================================================================================ */
.pic-human {
    background-color: rgb(107, 156, 255);
    border-radius: 10px 10px 0 0;
}
.pic-human .photo{
    width: 200px;
    margin-top: 10px;
    margin-bottom: -70px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.732);
}
.pic-human .fname-lname{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.btn-gp button{
    border-radius: 50px;
    padding: 7px 20px;
    transition: 0.5s;
    margin-right: 20px;
}
.btn-gp button:hover{
    transform: translateY(5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.426);
}
/* part2 ======================================================================================= */
.table-con{
    flex: 1;
    padding-left: 100px;
}
.about-me{
    flex: 1;
}
/* part3 - skills ==================================================================================== */
.progress-left , .progress-right{
    flex: 1;
}
.progress-right{
    margin-left: 40px;
}
.prog-con{
    width: 100%;
    height: 18px;
    border-radius: 3px;
    background-color: rgb(212, 212, 212);
}
.prog-level1{
    width: 0;
    transition: 1s;
    opacity: 0;
    height: 18px;
    border-radius: 3px;
    background-color: rgb(53, 53, 255);
}
.prog-level2{
    width: 0;
    transition: 1s;
    opacity: 0;
    height: 18px;
    border-radius: 3px;
    background-color: rgb(53, 53, 255);
}
.prog-level3{
    width: 0;
    transition: 1s;
    opacity: 0;
    height: 18px;
    border-radius: 3px;
    background-color: rgb(53, 53, 255);
}

.prog-level4{
    width: 0;
    transition: 1s;
    opacity: 0;
    height: 18px;
    border-radius: 3px;
    background-color: rgb(0, 163, 27);
}
.prog-level5{
    width: 0;
    transition: 1s;
    opacity: 0;
    height: 18px;
    border-radius: 3px;
    background-color: rgb(0, 163, 27);
}
.prog-level6{
    width: 0;
    transition: 1s;
    opacity: 0;
    height: 18px;
    border-radius: 3px;
    background-color: rgb(0, 163, 27);
}
.skill--{
    margin-bottom: 25px;
}
.box-exp{
    padding: 20px 35px;
    border-radius: 7px;
    border: 2px solid rgb(214, 214, 214);
    border-left: 2px solid rgb(53, 53, 255);
    margin-bottom: 20px;
    background-color: white;
    z-index: 2;
    position: relative;
}
.box-edu{
    padding: 20px 35px;
    border-radius: 7px;
    border: 2px solid rgb(214, 214, 214);
    border-left: 2px solid rgb(0, 163, 27);
    margin-bottom: 20px;
    background-color: white;
    position: relative;
}
.job-exp{
    color: rgb(53, 53, 255);
    font-weight: bold;
    font-size: 1.4rem;
}
.job-edu{
    color: rgb(0, 163, 27);
    font-weight: bold;
    font-size: 1.4rem;
}
/* part4 - experience ============================================================================= */

.connection-timeline{
    position: absolute;
    top: 35px;
    left: -44px;
    z-index: 0;
}
.connection-timeline .circle{
    width: 12px;
    height: 12px;
    border:2px solid rgb(53, 53, 255);
    background-color: white;
    border-radius: 50px;
    display: inline-block;
}
.connection-timeline hr{
    margin: 6px 0 6px -5px;
    width: 32px;
    height: 2px;
    display: inline-block;
}